---
layout: default
---
{% if site.show-nav-menu %}
  {% include nav.html%}
{% endif %}

<div class="mx-auto text-center prose prose-{{site.theme-color}}">
  <div>
    <img class="object-cover mx-auto h-44 w-44 rounded-full border-8 border-white p-2 bg-fuchsia-200 shadow-lg" src="{{site.baseurl}}/assets/img/{{site.author-image}}"
      alt="author profile image">
    <h1>{{site.author}}</h1>
  </div>
  {% if site.author-bio %}
  <p class="text-gray-500 pb-4">{{site.author-bio}}</p>
  {% endif %}
</div>
</div>

{% include social-media.html %}
{% include footer.html %}