---
layout: default
---
{% if site.show-nav-menu %}
  {% include nav.html%}
{% endif %}

<div class="text-center mx-5 lg:mx-0">
  <div>
    <img class="object-cover mx-auto h-44 w-44 rounded-full border-8 border-white p-2 bg-fuchsia-200 shadow-lg" src="{{site.baseurl}}/assets/img/{{site.author-image}}"
      alt="author profile image">
    <h1>{{site.author}}</h1>
   </div>
  <p class="text-gray-500 pb-4 text-left">
    Hi, I'm Sally. Thanks for checking out my portfolio. 
    Above you'll find links to different types of work I've done. 
    I'm an early career data analyst with a passion for data wrangling 🤠 in order to allow data to live its best life. 
    I also enjoy problem solving and the endorphin hit that comes with debugging a particularly stubborn challenge. 
    Feel free to <a href="mailto:sallyeheinzel@gmail.com">reach out</a> to me if you have any questions or comments.

  </p>
</div>
</div>

{% include social-media.html %}
{% include footer.html %}